@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'swiper/swiper-bundle.min';

@layer base {
  body {
    @apply font-normal text-white font-poppins text-body bg-black-light selection:bg-white selection:text-black-light;
  }

  h1 {
    @apply font-thin uppercase text-h1-sm md:text-h1-md lg:text-h1 drop-shadow-main;
  }

  h2 {
    @apply font-bold text-h2-sm md:text-h2-md lg:text-h2;
  }

  h3,
  .h3 {
    @apply font-bold text-h3-sm md:text-h3;
  }

  input[type="search"]::-webkit-search-cancel-button {
    @apply hidden;
  }
}

@layer components {
  svg #logoCursor {
    @apply group-hover:animate-blinking-cursor group-focus:animate-blinking-cursor group-active:animate-blinking-cursor;
  }

  svg #scope {
    @apply transition-all;
  }
}

@layer utilities {
  .swup-transition-fade {
    @apply transition-opacity duration-300 opacity-100;
  }

  html.is-animating .swup-transition-fade {
    @apply opacity-0;
  }

  .cms strong {
    @apply font-normal text-red;
  }

  .cms p {
    @apply text-base mb-0.75em xl:text-body;
  }

  .animate-delay-300 {
    animation-delay: 300ms;
  }

  .animate-delay-1500 {
    animation-delay: 1500ms;
  }

  .animate-delay-8s {
    animation-delay: 8s;
  }

  .animate-delay-10s {
    animation-delay: 10s;
  }

  .animate-duration-2000 {
    animation-duration: 2000ms;
  }
}

.headroom--pinned,
.headroom--top {
  @apply pt-6 transition-all duration-500 translate-y-0 bg-transparent;
}

.headroom--not-top {
  @apply py-2 bg-black-light;
}

.headroom--unpinned {
  @apply pt-0 transition-all duration-300 -translate-y-full bg-black-light;
}

/* Slider */

[data-image-slider] {
  @apply absolute md:top-[25px] md:left-[77px] md:w-[449px] md:h-[280px] lg:top-[19px] lg:left-[58px] lg:w-[338px] lg:h-[211px] xl:top-[22px] xl:left-[67px] xl:w-[389px] xl:h-[243px] 2xl:top-[27px] 2xl:left-[83px] 2xl:w-[485px] 2xl:h-[303px];
}

.prev-slide,
.next-slide {
  @apply drop-shadow-main;
}
.prev-slide:hover path,
.next-slide:hover path {
  @apply transition-all fill-white;
}


.swiper-pagination-vertical.swiper-pagination-bullets {
  @apply top-unset transform-none;
}

.swiper-pagination-bullet {
  @apply w-2.5 h-2.5 transition-all bg-transparent border border-white drop-shadow-main;
}

.swiper-pagination-bullet-active {
  @apply transition-all bg-white;
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  @apply my-3;
}
