@import 'tailwindcss';

@theme {
  --animate-blinking-cursor: blinkingCursor 0.75s ease-in infinite alternate;
  --animate-draw-horizontal-line: drawHorizontalLine 1s ease-in-out forwards;
  --animate-draw-vertical-line: drawVerticalLine 1s ease-in-out forwards;
  --animate-fade-in: blinkingCursor 1s ease-in-out forwards;
  --animate-flicker: flicker 0.15s infinite;
  --animate-floating-ripple: floatingRipple 5s ease-in-out 2s infinite alternate;
  --animate-picture-in: pictureIn 2s ease-in-out forwards;
  --animate-rotate-3d-x: rotate3dX 2s ease-in-out forwards;
  --animate-slide-in-left: slideInLeft 1.5s ease-in-out forwards;
  --animate-slide-in-right: slideInRight 1.5s ease-in-out forwards;
  --animate-slide-up: slideUp 500ms ease-out 1s forwards;
  --animate-text-shadow: textShadow 1.6s infinite;

  --background-image-scanlines:
    linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );

  --background-size-size-scanlines: 100% 2px, 3px 100%;

  --shadow-button: -3px 3px 6px rgba(255, 255, 255, 0.4);
  --shadow-button-hover: 0 0 6px rgba(255, 255, 255, 0.4);
  --shadow-control: -1px 1px 3px rgba(255, 255, 255, 0.5);
  --shadow-search: 0px 3px 6px rgba(255, 255, 255, 0.77);

  --color-black: #000;
  --color-black-light: #252525;
  --color-black-scanline: rgba(18, 16, 16, 0.1);

  --color-brown: #8c7065;

  --color-grey: #b2b2b2;

  --color-pink: #f49898;

  --color-red: #f14d4c;
  --color-red-dark: #732525;

  --drop-shadow-main: -1px 1px 3px rgba(255, 255, 255, 0.5);
  --drop-shadow-preview-image: 0 3px 6px rgba(255, 255, 255, 0.77);

  --font-poppins: Poppins, sans-serif;
  --font-dm-sans: DM Sans, sans-serif;

  --text-body: 1.125rem, 1.875rem;
  --text-body-small: 0.875rem;
  --text-body-small--line-height: 1.6875rem;
  --text-body-small--letter-spacing: 0.2em;
  --text-button: 0.875rem;
  --text-button--line-height: 1.25rem;
  --text-button--letter-spacing: 0.2em;
  --text-control: 0.875rem;
  --text-control--line-height: 1.5rem;
  --text-control--letter-spacing: 0.05em;
  --text-control-current: 1.125rem;
  --text-control-current--line-height: 1.5rem;
  --text-control-current--letter-spacing: 0.05em;
  --text-h1: 14rem;
  --text-h1--line-height: 6.25rem;
  --text-h1--letter-spacing: 0.075em;
  --text-h1-md: 7.5rem;
  --text-h1-md--line-height: 6.25rem;
  --text-h1-md--letter-spacing: 0.075em;
  --text-h1-sm: 3.75rem;
  --text-h1-sm--line-height: 3.75rem;
  --text-h1-sm--letter-spacing: 0.075em;
  --text-h1-contact: 11.125rem;
  --text-h1-contact--line-height: 6.25rem;
  --text-h1-contact--letter-spacing: 0.075em;
  --text-h1-contact-number: 3.4375rem;
  --text-h1-contact-number--line-height: 3.4375rem;
  --text-h1-contact-number--letter-spacing: 0.075em;
  --text-h1-number: 4.3125rem;
  --text-h1-number--line-height: 6.5625rem;
  --text-h1-number--letter-spacing: 0.075em;
  --text-h1-number-md: 1.875rem;
  --text-h1-number-md--line-height: 1.875rem;
  --text-h1-number-md--letter-spacing: 0.075em;
  --text-h2: 3.75rem, 5.625rem;
  --text-h2-md: 2.8125rem, 4.1875rem;
  --text-h2-sm: 1.8125rem, 2.71875rem;
  --text-h3: 2.375rem, 3.375rem;
  --text-h3-sm: 1.625rem, 1.875rem;
  --text-nav: 1rem, 1.5rem;
  --text-nav-lg: 2.5rem, 3.75rem;
  --text-nav-sm: 1.875rem, 1.875rem;
  --text-nav-number: 0.625rem, 0.625rem;
  --text-nav-number-lg: 1.5625rem, 1.5625rem;
  --text-nav-number-sm: 1.125rem, 1.125rem;
  --text-nav-search: 0.875rem, 1.5rem;
  --text-nav-search-lg: 2.1875rem, 3.75rem;
  --text-nav-search-sm: 1.625rem, 1.875rem;
  --text-skill-score: 1.125rem;
  --text-skill-score--line-height: 1.6875;
  --text-skill-score--letter-spacing: 0.2em;

  --container-300: 300px;
  --container-2\/3: 66.666%;
  --container-7_5: 1.875rem;
  --container-code-wrapper: 398px;

  --min-height-11: 2.75rem;

  --min-width-64: 16rem;
  --min-width-35_5: 8.875rem;
  --min-width-37_5: 9.375rem;

  --spacing-arrow: calc(-20vh - 54px);
  --spacing-full-60: calc(100% - 60px);
  --spacing-unset: unset;
  --spacing-1\/3: 33.3333%;
  --spacing-1\/2-screen: 50vh;
  --spacing-1\/2-screen-26: calc(50vh - 26px);
  --spacing-1\/3-screen: 33.3333vh;
  --spacing-2\/3-screen: 66.6666vh;
  --spacing-0_75em: 0.75em;

  --transition-property-max-width: max-width;

  @keyframes blinkingCursor {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes drawHorizontalLine {
    0% {
      max-width: 0%;
    }
    100% {
      max-width: 100%;
    }
  }
  @keyframes drawVerticalLine {
    0% {
      max-height: 0%;
    }
    100% {
      max-height: 100%;
    }
  }
  @keyframes flicker {
    0% {
      opacity: 0.27861;
    }
    5% {
      opacity: 0.34769;
    }
    10% {
      opacity: 0.23604;
    }
    15% {
      opacity: 0.90626;
    }
    20% {
      opacity: 0.18128;
    }
    25% {
      opacity: 0.83891;
    }
    30% {
      opacity: 0.65583;
    }
    35% {
      opacity: 0.67807;
    }
    40% {
      opacity: 0.26559;
    }
    45% {
      opacity: 0.84693;
    }
    50% {
      opacity: 0.96019;
    }
    55% {
      opacity: 0.08594;
    }
    60% {
      opacity: 0.20313;
    }
    65% {
      opacity: 0.71988;
    }
    70% {
      opacity: 0.53455;
    }
    75% {
      opacity: 0.37288;
    }
    80% {
      opacity: 0.71428;
    }
    85% {
      opacity: 0.70419;
    }
    90% {
      opacity: 0.7003;
    }
    95% {
      opacity: 0.36108;
    }
    100% {
      opacity: 0.24387;
    }
  }
  @keyframes floatingRipple {
    0% {
      transform: perspective(1500px) rotateY(15deg);
    }
    100% {
      transform: perspective(3000px) rotateY(5deg);
    }
  }
  @keyframes pictureIn {
    0% {
      filter: blur(8px);
      opacity: 0;
    }
    100% {
      filter: blur(0);
      opacity: 0.4;
    }
  }
  @keyframes rotate3dX {
    0% {
      transform: rotate3d(0, 1, 0, 90deg) rotate(0deg);
      opacity: 0;
    }
    100% {
      transform: rotate3d(0, 0, 0, 0deg) rotate(0deg);
      opacity: 0.1;
    }
  }
  @keyframes slideInLeft {
    0% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slideInRight {
    0% {
      transform: translateX(400px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slideUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  @keyframes textShadow {
    0% {
      text-shadow:
        0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5),
        -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3),
        0 0 3px;
    }
    5% {
      text-shadow:
        2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5),
        -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3),
        0 0 3px;
    }
    10% {
      text-shadow:
        0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5),
        -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3),
        0 0 3px;
    }
    15% {
      text-shadow:
        0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5),
        -0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3),
        0 0 3px;
    }
    20% {
      text-shadow:
        3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5),
        -3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3),
        0 0 3px;
    }
    25% {
      text-shadow:
        1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5),
        -1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3),
        0 0 3px;
    }
    30% {
      text-shadow:
        0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5),
        -0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3),
        0 0 3px;
    }
    35% {
      text-shadow:
        3.896914047650351px 0 1px rgba(0, 30, 255, 0.5),
        -3.896914047650351px 0 1px rgba(255, 0, 80, 0.3),
        0 0 3px;
    }
    40% {
      text-shadow:
        3.870905614848819px 0 1px rgba(0, 30, 255, 0.5),
        -3.870905614848819px 0 1px rgba(255, 0, 80, 0.3),
        0 0 3px;
    }
    45% {
      text-shadow:
        2.231056963361899px 0 1px rgba(0, 30, 255, 0.5),
        -2.231056963361899px 0 1px rgba(255, 0, 80, 0.3),
        0 0 3px;
    }
    50% {
      text-shadow:
        0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5),
        -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3),
        0 0 3px;
    }
    55% {
      text-shadow:
        2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5),
        -2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3),
        0 0 3px;
    }
    60% {
      text-shadow:
        2.202193051050636px 0 1px rgba(0, 30, 255, 0.5),
        -2.202193051050636px 0 1px rgba(255, 0, 80, 0.3),
        0 0 3px;
    }
    65% {
      text-shadow:
        2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5),
        -2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3),
        0 0 3px;
    }
    70% {
      text-shadow:
        0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5),
        -0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3),
        0 0 3px;
    }
    75% {
      text-shadow:
        1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5),
        -1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3),
        0 0 3px;
    }
    80% {
      text-shadow:
        0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5),
        -0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3),
        0 0 3px;
    }
    85% {
      text-shadow:
        0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5),
        -0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3),
        0 0 3px;
    }
    90% {
      text-shadow:
        3.443339761481782px 0 1px rgba(0, 30, 255, 0.5),
        -3.443339761481782px 0 1px rgba(255, 0, 80, 0.3),
        0 0 3px;
    }
    95% {
      text-shadow:
        2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5),
        -2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3),
        0 0 3px;
    }
    100% {
      text-shadow:
        2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5),
        -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3),
        0 0 3px;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 15px;
  @media (width >= theme(--breakpoint-md)) {
    padding-inline: 30px;
  }
  @media (width >= theme(--breakpoint-xl)) {
    padding-inline: 60px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility swup-transition-fade {
  @apply transition-opacity duration-300 opacity-100;

  html.is-animating & {
    @apply opacity-0;
  }
}

@utility is-animating {
  &html .swup-transition-fade {
    @apply opacity-0;
  }
}

@utility cms {
  & strong {
    @apply text-red;
  }

  & p {
    @apply mb-6;
  }
}

@utility animate-delay-300 {
  animation-delay: 300ms;
}

@utility animate-delay-1500 {
  animation-delay: 1500ms;
}

@utility animate-delay-8s {
  animation-delay: 8s;
}

@utility animate-delay-10s {
  animation-delay: 10s;
}

@utility animate-duration-2000 {
  animation-duration: 2000ms;
}

@layer base {
  body,
  .acf-block-preview {
    @apply font-normal text-white font-poppins text-body bg-black-light selection:bg-white selection:text-black-light;
  }

  h1 {
    @apply font-thin uppercase text-h1-sm md:text-h1-md lg:text-h1;
  }

  h2 {
    @apply font-bold text-h2-sm md:text-h2-md lg:text-h2;
  }

  h3 {
    @apply font-bold text-h3;
  }

  input[type="search"]::-webkit-search-cancel-button {
    @apply hidden;
  }
}

@layer components {
  svg #logoCursor {
    @apply group-hover:animate-blinking-cursor group-focus:animate-blinking-cursor group-active:animate-blinking-cursor;
  }

  svg #scope {
    @apply transition-all;
  }
}
